<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Bored?</h2>
                    <h3 class="section-subheading text-muted">Links to some of the most amazing videos I've come across on a platform called <b>Youtube</b>.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                
                                    <h4 class="subheading">Now You Happy Always Maybe</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Importance of sadness in life <a target="_blank" href="https://youtu.be/yWkq7btSQvs">explained</a> in a much needed and quirky way.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">But what is a Neural Network?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The first time I came across the word <b>Neural Network</b>. Also probably the <a target="_blank" href="https://youtu.be/aircAruvnKk">best</a> explaination behind this super trendy word.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Kanye, deconstructed</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vox does an amazing <a target="_blank" href="https://www.youtube.com/watch?v=ZgJyhKEZ8QU">job</a> at explaining Kanye's different musical styles and how he uses vocal elements throughout his songs.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Digital Hygiene</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Most of us do know the problem, but here's a <a target="_blank" href = "https://youtu.be/VpHyLG-sc4g">solution </a>.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Greta sings Death Metal</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Okay, I might sound a bit harsh on this one, but no hard feelings. <a target="_blank" href = "https://www.youtube.com/watch?v=1kD1zubg3cA">Innovative</a>, is all I would say.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>