<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">
                        <br>
                            Currently a sophomore in Material Sciences at IIT Bombay, I'm immensely enthusiastic about programming as well. 
                            <br><br>
                            I am still in the stage of trying out different fields of CS, although I do like <b>software development</b>. 
                            <br><br><br>
                            I love spending my free time on reddit, trying to find some interesting subs every other day.
                            <br><br><br> 
                            Oh, and I love watching thrillers as well. <b>Binging</b>, in fact.
                            <br><br>
                            Yet my favourite shows are How I Met Your Mother, Brooklyn 99 & Bojack Horseman.
                            <br><br><br>
                            My music tastes have changed drastically over time. I started with mainstream artists like <b>Eminem</b> and <b>Linkin Park</b>.
                            <br><br>
                            Then I suddenly became a huge fan of the unconventional music style of <b>Lorde</b>.
                            <br><br>
                            Recently, I started listening to a mainstream hip-hop and rap artists like <b>Kendrick Lamar</b>,<b> Kanye West</b> & <b>Travis Scott</b>.
                            <br><br><br>
                            And when I'm tired of staring at my laptop, I start staring at my phone. Kidding xD. 
                            <br><br>
                            I enjoy playing badminton and sometimes strolling around the humungous campus of our institute.  
                            
                    </h3>
                </div>
            </div>
            
        </div>
    </section>